@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

*{
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("j.jpg");
    background-size: cover;
    height: 100vh;
	width:100vh;
    
    }
 .nav{
 	width: 350px;
 	height: auto;
 	
 	position: absolute;
 	top: 40%;
 	left:0;
}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family:sans-serif;
	font-weight: bold;
	width: 100%;
	height: 90px;
	margin:5px 0;
	float: left;
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 90px;
	text-align: center;

}
a.active,.nav a:hover{
   background:linear-gradient(#ffe838,#fd57bf);

}

.content{
	
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  
 color: white;
   top:0px;
  width: 40%;
  padding: 20px;
  font-size: 30px;
  position: absolute;
}
.content p{
background:linear-gradient(#ffe838,#fd57bf); 
-webkit-text-fill-color:transparent;
-webkit-background-clip:text;
font-weight: bold;
}


.navb {
  overflow: hidden;
  background-color: black;
  width:100%;
  top: 0px;
  position:fixed;
  
  
}

.items a {
  float: right;
 
 font-weight: bold;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  top: 0px;
  
    
}
a.active,.items a:hover{
   background:linear-gradient(#ffe838,#fd57bf);

}
.left{
	 background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  overflow: hidden;
  
  width:100%;
  top: 0px;
  position:fixed;
}
.left h1,h5{

	background:linear-gradient(#ffe838,#fd57bf); 
-webkit-text-fill-color:transparent;
-webkit-background-clip:text;
font-weight: bold;
float: left;


}

.con{
    font-size: 45px;
    font-family: renaissance;

    font-style: italic;
    color: pink;
    width: 600px;
    height: 200px;
    background:linear-gradient(#ffe838,#fd57bf); 
-webkit-text-fill-color:transparent;
-webkit-background-clip:text;
    padding: 16px;
    box-sizing: content-box;
    line-height: 70px; 
    margin-left: 850px;
    margin-top: 300px;

    
  }
  
